00-mes-apps/beabetterdevelopper/Eta.ServiceWcf_/Eta.ServiceWcf/Eta.Client/Connected Services/EtaServiceReference/EtaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EtaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2395/EtaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2395/EtaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2395/EtaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eta.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEtaService_GetTrainings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainings" />
  </wsdl:message>
  <wsdl:message name="IEtaService_GetTrainings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainingsResponse" />
  </wsdl:message>
  <wsdl:message name="IEtaService_GetReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviews" />
  </wsdl:message>
  <wsdl:message name="IEtaService_GetReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IEtaService_AddReview_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReview" />
  </wsdl:message>
  <wsdl:message name="IEtaService_AddReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="IEtaService">
    <wsdl:operation name="GetTrainings">
      <wsdl:input wsaw:Action="http://tempuri.org/IEtaService/GetTrainings" message="tns:IEtaService_GetTrainings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEtaService/GetTrainingsResponse" message="tns:IEtaService_GetTrainings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IEtaService/GetReviews" message="tns:IEtaService_GetReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEtaService/GetReviewsResponse" message="tns:IEtaService_GetReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IEtaService/AddReview" message="tns:IEtaService_AddReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEtaService/AddReviewResponse" message="tns:IEtaService_AddReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEtaService" type="tns:IEtaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrainings">
      <soap:operation soapAction="http://tempuri.org/IEtaService/GetTrainings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviews">
      <soap:operation soapAction="http://tempuri.org/IEtaService/GetReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <soap:operation soapAction="http://tempuri.org/IEtaService/AddReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EtaService">
    <wsdl:port name="BasicHttpBinding_IEtaService" binding="tns:BasicHttpBinding_IEtaService">
      <soap:address location="http://localhost:2395/EtaService.svc/EtaService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>