00-mes-apps/beabetterdevelopper/Eta.ServiceWcf_/Eta.ServiceWcf/Eta.Client/Connected Services/EtaServiceReference/EtaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Eta.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Eta.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTraining">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Training" nillable="true" type="tns:Training" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraining" nillable="true" type="tns:ArrayOfTraining" />
  <xs:complexType name="Training">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Training" nillable="true" type="tns:Training" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TrainingId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
</xs:schema>